body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.container {
    background: white;
    color: black;
    width: 55%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 25px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.profile-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
}

.profile-card h2 {
    margin: 0;
    color: #1f3c88;
}

.subtitle {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    font-size: 14px;
}

.info-grid span {
    background: #f4f6fb;
    padding: 8px;
    border-radius: 8px;
}

.info-grid a {
    text-decoration: none;
    color: #1f3c88;
    font-weight: bold;
}
